#ifndef GOOGLEAUTH_H
#define GOOGLEAUTH_H

//
// The OAUTH Client was not found: - Ensure that the details below are correct
// The OAUTH Client was deleted: - Re-create the ID and Secret
//

#define AUTHID "blahblah.apps.googleusercontent.com"
#define AUTHSECRET "blah-blah"
#define AUTHSCOPE "https://www.googleapis.com/auth/contacts"

#endif // GOOGLEAUTH_H
