[Desktop Entry]
Type=Application
Name=POI Editor
Exec=AppRun %F
Icon=default
Comment=Points of Interest File Manager
Categories=Utility;
Terminal=true
