[Desktop Entry]
Type=Application
Name=POI Manager
Exec=POI
Icon=POI.png
Comment=Points of Interest File Manager
Categories=Utility;Maps;
Terminal=false
